# IMG_NAME='raspios-bookworm-arm64'
PI_GEN_RELEASE='My Raspberry Pi OS'
RELEASE='bookworm'
# APT_PROXY=
# BASE_DIR=
# WORK_DIR=
# DEPLOY_DIR=
DEPLOY_COMPRESSION='zip'
COMPRESSION_LEVEL=6
USE_QEMU=0
LOCALE_DEFAULT='en_GB.UTF-8'
TARGET_HOSTNAME='raspberrypi'
KEYBOARD_KEYMAP='gb'
KEYBOARD_LAYOUT='English (UK)'
TIMEZONE_DEFAULT='Europe/London'
FIRST_USER_NAME='pi'
# FIRST_USER_PASS=
DISABLE_FIRST_BOOT_USER_RENAME=0
# WPA_COUNTRY=
ENABLE_SSH=0
# PUBKEY_SSH_FIRST_USER=
PUBKEY_ONLY_SSH=0
# SETFCAP=
STAGE_LIST='stage*'
